body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/089/346/original/Clocks.JPG?1689097170");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

p {
  color: white;
  font-size: 30px;
}

img {
  width: 100%;
}
footer {
  color: yellow;
  text-align: center;
  font-size: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  vertical-align: bottom;
}
footer a {
  text-decoration: none;
  color: yellow;
}
footer a:hover {
  text-decoration: none;
  color: blue;
  transition: all 1s;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  text-align: center;
  width: 100%;
  position: fixed;
}

.container {
  border-radius: 10px;
  margin-top: 5em;
  text-align: center;
  width: 800px;
  height: 800px;
  padding-top: 20px;
}
.other-cities {
  color: yellow;
  margin-top: 15px;
}
#city {
  align-items: center;
  margin-top: 40px;
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
