body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/089/346/original/Clocks.JPG?1689097170");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

h1 {
  color: white;
  font-size: 30px;
}

img {
  width: 100%;
}
footer {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 15px;
  margin: 3em auto;
  max-width: 600px;
  position: relative;
  vertical-align: bottom;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  text-decoration: none;
  color: yellow;
  transition: all 1s;
}

.container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: 6em auto;
  text-align: center;
  max-width: 600px;
  padding: 30px;
}
.other-cities {
  color: white;
  margin-top: 15px;
}
#city {
  align-items: center;
  margin-top: 40px;
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 10px;
}
